@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');


.App {
  text-align: center;
  font-family: 'Merriweather', serif;
  min-height: 100vh;
/* background-color: black; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;

}
a{
  text-decoration: none;
cursor: pointer;}
ul{
  list-style: none;
}
img{
  user-select: none;
}
.container{
  padding: 20px 80px;
}
@media only screen and (max-width: 900px) {
  .container {
    padding: 15px 30px;
    /* color: rgb(255, 45, 45); */
  
  }
}
@media only screen and (max-width: 700px) {
  .container {
    padding: 15px 20px;
  }
}

.serachMenu::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */
.serachMenu::-webkit-scrollbar-thumb {
  background: rgb(51, 49, 49);
  border-radius: 10px;
}


 .AddPhoto::-webkit-scrollbar {
  width: 10px;
}

/* Track */

 .AddPhoto::-webkit-scrollbar-thumb {
  background: rgb(51, 49, 49);
  border-radius: 10px;
}
